@import 'tailwindcss';

body, html, #root {
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.hColor{
    animation: headingColor ease-in-out 2000;
}

@keyframes headingColor {
    from{
        color: White
    }
    to{
        color: black;
    }
}